* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

.container {
  height: 100%;
  width:100%;
}

.flex {
  display: flex;
  line-height: 1.68;
}

.column {
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  flex: 1;
}

h1 {
  text-transform: capitalize;
  font-size: 3.68em;
  line-height: 1.4em;
}

.italic {
  color: darkgrey;
  font-style: italic;
  letter-spacing: 1px;
  font-size: 1.68em;
}

