* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
    .body {
      font-family: Arial, Helvetica, sans-serif;
    }
    
    .header {
      background-color: #666;
      padding: 30px;
      text-align: center;
      font-size: 35px;
      color: white;
    }
    
    .left {
      float: left;
      width: 50%;
      height: 1030px;
      background-color:rgb(163, 163, 163);
      padding: 20px;
    }
    
    .right {
      float: right;
      padding: 20px;
      width: 50%;
      background-color:rgb(255, 255, 255);
      height: 1030px;
    }
    
    .footer {
      background-color: #777;
      padding: 20px;
      text-align: center;
      color: white;
    }