*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 140%;
}

.container{
    background-color: navy;
    height:140%;

}


header{
    position:fixed;
    right:0px;
    width:240px;
    height: 400px;
    background-color: dodgerblue;
}

body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.author{
    font-style: italic;
    color: paleturquoise;
    font-size: 18px;
}
.title{
    color: paleturquoise;
}
h1{
    font-size: 45px;
}
main{
    font-size: 23px;
    display: flex;
    flex-wrap: wrap;
    justify-content:left;
}
.item{
    width:410px;
    height:550px;
    margin:5px;
    background-color:skyblue;
}
h3{
    font-style: italic;
    font-size: 24px;
}
