/* 1.style the square */
.square {
    width: 150px;
    height: 150px;
    background: tomato;
  }
  
  /* 2. write the animation */
  @keyframes slide {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(400px);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  /* 3. Write the class to be triggered */
  
  .run-animation {
    animation: slide 1s;
    animation-iteration-count: 5;
  }